body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
}

footer {
    color: white;
}

section {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    min-height: 500px;
    padding: 1em;
    justify-content: center;
    margin: auto;
}

button {
    min-width: 33%;
    max-width: 100px;
    border-radius: 5%;
    border: none;
    margin: 0.5px;
    height: auto;
}

#new_game {
    width: 100px;
    height: 100px;
    color: blue;
    font-size: large;
    align-items: center;
}

#hidden {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    display: none;
    color: white;
}

#butt0 {
    background-color: darkblue;
}


#butt1 {
    background-color: darkviolet;
}

#butt2 {
    background-color: darkred;
}

#butt3 {
    background-color: darkcyan;
}

#butt4 {
    background-color: darkmagenta;
}

#butt5 {
    background-color: darkgreen;
}

#butt6 {
    background-color: darkolivegreen;
}

#butt7 {
    background-color: darkturquoise;
}

#butt8 {
    background-color: darkorange;
}