/*
Index
*/
nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
}

li a {
    color: white;
}

#theme-toggle {
    position: fixed;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

/* Does not work on my computer for some reason*/
.dark-mode {
    background-color: #333;
    color: white;
}

li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: 46px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 72px;
    font-family: cursive;
    width: 100%;
    color: aliceblue;
    background-color: black;
}

main {
    margin-top: 150px;
}

img[src*="images/homepage banner.jpeg"] {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main section {
    height: 100%;
    display: flex;
}

main section img {
    height: 400px;
    width: 33.33%;
}

/* 
Directions
*/

iframe {
    min-height: 450px;
    min-width: 450px;
    border: 0;
}

article {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

div>span {
    font-weight: bold;
}

address>a {
    font-style: normal;
}

address::before {
    content: '📞';
}

.new {
    font-size: 150%;
}

/*
Menu
*/

table {
    border: 1px solid;
}

tbody>tr:nth-child(even) {
    background: lime;
}

tbody>tr:nth-child(odd) {
    background: rgb(90, 225, 90);
}

td:first-child {
    font-weight: bold;
}

tfoot {
    font-size: 90%;
    font-style: italic;
}

dl {
    padding: 3px;
}

dt {
    font-weight: bold;
    padding: 3px;
}

.gf::before {
    content: ' gf ';
    font-style: italic;
}

.vf::before {
    content: ' vg ';
    font-style: italic;
}

.gf.vf::before {
    content: ' gv vg ';
    font-style: italic;
}

h2 {
    padding: 1em;
}

section section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1em;
}

section>div {
    font-weight: bold;
    padding: 3px;
}