/*
Index
*/
body {
    background-color: #e7b87d;
    color: #5a1e64;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
}

li a:visited {
    color: #7af848;
}

li a:hover {
    color: #fad14c;
}

#theme-toggle {
    position: fixed;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin: 5px;
}

.dark-mode {
    background-color: #46244C;
    color: #D49B54;
}

li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    margin-top: 46px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 72px;
    font-family: cursive;
    width: 100%;
    color: aliceblue;
    background-color: black;
}

main {
    margin-top: 150px;
}

img[src*="images/homepage banner.jpeg"] {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main section {
    display: flex;
    flex-flow: row wrap;
}

main section img {
    height: auto;
    min-width: 400px;
    min-height: 300px;
    flex-basis: 33.333%;
}

main section p {
    text-indent: 2em;
}

/* 
Directions
*/

iframe {
    min-height: 450px;
    min-width: 450px;
    border: 0;
}

article {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

div span {
    font-weight: bold;
}

address a {
    font-style: normal;
}

address::before {
    content: '📞';
}

.new {
    font-size: 150%;
}

/*
Menu
*/

table {
    border: 1px solid;
    border-collapse: collapse;
}

tbody>tr:nth-child(even) {
    background: lime;
}

tbody>tr:nth-child(odd) {
    background: rgb(90, 225, 90);
}

td:first-child {
    font-weight: bold;
}

tfoot {
    font-size: 90%;
    font-style: italic;
}

dl {
    padding: 3px;
}

dt {
    font-weight: bold;
    padding: 3px;
}

.gf::before {
    content: ' gf ';
    font-style: italic;
}

.vf::before {
    content: ' vg ';
    font-style: italic;
}

.gf.vf::before {
    content: ' gv vg ';
    font-style: italic;
}

h2 {
    padding: 1em;
    justify-content: left;
}

/*
Attempt at lunch section
Not being able to edit html is horrible
*/
section section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-left: 8em;
    justify-content: left;
    text-align: in;
}

section div {
    font-weight: bold;
    padding: 3px;
}

/* 
Do we really need a horizontal line between Appetizer and Entree?
My attempt is below
*/
section section:nth-child(3)::before {
    margin: 3px 0px;
    border-bottom: 1px solid black;
    content: '';
    position: absolute;
    width: 625px;
    height: 1px;
    background: black;
}