.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  margin: none;
  orientation: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  text-align: center;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin-block-start: none;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

nav ul li {
  list-style-type: none;
  margin-block-start: none;
}

#Sidebar {
  height: 100vh;
  width: 200px;
  background-color: darkslategray;
}

textarea {
  background-color: black;
  width: 100vh;
  height: 100vh;
  color: white;
}